<h2>Methods that were not run</h2><table>
<tr><td>com.TestScripts.TestScripts.TC6_list</td></tr>
<tr><td>com.TestScripts.TestScripts.TC4_dropdown</td></tr>
<tr><td>com.TestScripts.TestScripts.TC3_textbox_radioButton</td></tr>
<tr><td>com.TestScripts.TestScripts.TC5_AllLinks</td></tr>
<tr><td>com.TestScripts.TestScripts.Tc1</td></tr>
<tr><td>com.TestScripts.TestScripts.TestCase2</td></tr>
</table>