<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2d3b1">  <td>20/04/10 12:56:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.getLogger()[pri:0, instance:com.TestScripts.TestScripts@7c417213]">&gt;&gt;getLogger</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@407697359</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/10 12:56:46</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.startReport()[pri:0, instance:com.TestScripts.TestScripts@7c417213]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@407697359</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/10 12:56:46</td>   <td>196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializer()[pri:0, instance:com.TestScripts.TestScripts@7c417213]">&gt;&gt;initializer</td> 
<td>&nbsp;</td>  <td>main@407697359</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>20/04/10 12:56:56</td>   <td>10284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.TC7_multipleWindow()[pri:0, instance:com.TestScripts.TestScripts@7c417213]">TC7_multipleWindow</td> 
  <td>main@407697359</td>   <td></td> </tr>
<tr bgcolor="d2d3b1">  <td>20/04/10 12:57:07</td>   <td>21828</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.endReport()[pri:0, instance:com.TestScripts.TestScripts@7c417213]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@407697359</td>   <td></td> </tr>
</table>
